<section class="py-5">
    <div class="container">
      <h1>About Bakasura</h1>
      <p>Welcome to Bakasura - Taste the recipes from worldwide, your go-to platform for delicious recipes and culinary inspiration. Whether you are a beginner or a seasoned chef, our mission is to make cooking accessible and enjoyable for everyone.</p>
      
      <p>This application will help you to taste the mouth watering recipes of peolple worldwide. And even you can also serve your food recipes to the world</p>

      <p>Happy cooking! Happy Eating!</p>
    </div>
  </section>
